;;
description = "Footer"

[viewBag]
==
{##}
<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            {% partial 'site/nav/footernav' %}
        </nav>
        <div class="copyright float-right">
            &copy; {{ "now"|date("Y") }} - Made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> and <a href="https://mate-themes.com" target="_blank">MateThemes</a>.
        </div>
    </div>
</footer>