;;
description = "Header with MainNavigation"

[viewBag]
==
{##}
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        {% if this.theme.header_logo_settings == 'headername' and this.theme.header_logo_settings is not empty %}
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">Material Kit </a>
        {% endif %}
        {% if this.theme.header_logo_settings == 'headerlogo' and this.theme.header_logo_settings is not empty %}
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
          <div class="logo-image">
            <img src="{{ this.theme.header_logo_image|media }}" class="img-fluid">
          </div>
        </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        {% partial 'site/nav/headernav' %}

      </div>
    </div>
  </nav>