;;
description = "Meta Data"

[viewBag]
==
{##}
{% if blogPost.post %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ html_limit(post.summary, 140)|raw }}">
<meta name="title" content="{{ post.title }} - {{ this.theme.site_name }}">
<meta name="robots" content=="index, follow">

<title>{{ post.title }} - {{ this.theme.site_name }}</title>
<link rel="canonical" href="{{ '/'|app}}{{ this.page.url }}">
<link rel="icon" type="image/png" href="{{ this.theme.settings_favicon|media }}">
<meta property="og:title" content="{{ post.title }} - {{ this.theme.site_name }}">
<meta property="og:url" content="{{ '/'|app}}{{ this.page.url }}" />
<meta property="og:image" content="{{ post.featured_images.first.getThumb(600, 250, 'crop') }}">
<meta property="og:site_name" content="{{ this.theme.site_name }}" />
<meta property="og:description" content="{{ html_limit(post.summary, 140)|raw }}">

{% elseif this.page.url == '/blog' %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">
<meta name="title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta name="robots" content="index, follow">

<title>{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}</title>
<link rel="canonical" href="{{ '/'|app}}{{ this.page.url }}">
<link rel="icon" type="image/png" href="{{ this.theme.settings_favicon|media }}">
<meta property="og:title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta property="og:url" content="{{ '/'|app}}{{ this.page.url }}">
<meta property="og:image" content="{{ 'assets/images/img/600x250.png'|theme }}">
<meta property="og:site_name" content="{{ this.theme.site_name }}">
<meta property="og:description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">

{% elseif this.page.url == '/blog/:page?' %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">
<meta name="title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta name="robots" content="index, follow">

<title>{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}</title>
<link rel="canonical" href="{{ '/'|app}}{{ this.page.url }}">
<link rel="icon" type="image/png" href="{{ this.theme.settings_favicon|media }}">
<meta property="og:title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta property="og:url" content="{{ '/'|app}}{{ this.page.url }}">
<meta property="og:image" content="{{ 'assets/images/img/600x250.png'|theme }}">
<meta property="og:site_name" content="{{ this.theme.site_name }}">
<meta property="og:description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">

{% elseif blogCategories.categories %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ html_limit(category.description, 140)|raw }}">
<meta name="title" content="{{ category.name }} - {{ this.theme.site_name }}">
<meta name="robots" content="index, follow">

<title>{{ category.name }} - {{ this.theme.site_name }}</title>
<link rel="canonical" href="{{ '/'|app}}{{ this.page.url }}">
<link rel="icon" type="image/png" href="{{ this.theme.settings_favicon|media }}">
<meta property="og:title" content="{{ category.name }} - {{ this.theme.site_name }}">
<meta property="og:url" content="{{ '/'|app}}{{ this.page.url }}">
<meta property="og:image" content="{{ 'assets/images/img/600x250.png'|theme }}">
<meta property="og:site_name" content="{{ this.theme.site_name }}" />
<meta property="og:description" content="{{ html_limit(category.description, 140)|raw }}">

{% else %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">
<meta name="title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta name="robots" content="index, follow">

<title>{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}</title>
<link rel="canonical" href="{{ '/'|app}}{{ this.page.url }}">
<link rel="icon" type="image/png" href="{{ this.theme.settings_favicon|media }}">
<meta property="og:title" content="{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.site_name }}">
<meta property="og:url" content="{{ '/'|app}}{{ this.page.url }}">
<meta property="og:image" content="{{ 'assets/images/img/600x250.png'|theme }}">
<meta property="og:site_name" content="{{ this.theme.site_name }}">
<meta property="og:description" content="{{ this.page.meta_description|default(this.theme.site_description) }}">

{% endif %}

<!-- Fonts and icons -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="{{ [
    'assets/scss/material-kit.scss'
]|theme }}" rel="stylesheet">