;;
[staticMenu footerMenu]
code = "footer-menu"
[viewBag]
==
{##}

{% import _self as nav %}

{% macro render_menu(items) %}
  {% import _self as nav %}
    {% for item in items %}
      <li>
        <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>{{ item.code ? ('nav.'~item.code)|_ : item.title }}</a>
      </li>
    {% endfor %}
{% endmacro %}

{% if footerMenu.menuItems %}
<ul>
  {{ nav.render_menu(footerMenu.menuItems) }}
</ul>
{% endif %}