;;
[staticMenu mainMenu]
code = "main-menu"
==
{##}
{% import _self as nav %}
    {% macro render_menu(items) %}
        {% import _self as nav %}
            {% for item in items %}
                {% if item.items %}
                <li class="nav-item dropdown">
                    <a href="{{ item.url }}" class="nav-link" data-toggle="dropdown">{{ item.title }}</a>
                    <ul class="dropdown-menu">
                        {% for subitem in item.items %}
                            <a href="{{ subitem.url }}" class="dropdown-item" {{ item.viewBag.isExternal ? 'target="_blank"' }}>{{ subitem.title }}</a>
                        {% endfor %} 
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ item.url }}" class="nav-link" {{ item.viewBag.isExternal ? 'target="_blank"' }}>{{ item.title }}</a>
                </li>
            {% endif %}
            {% endfor %}
    {% endmacro %}

    {% if mainMenu.menuItems %}
    <ul class="navbar-nav ml-auto">
        {{ nav.render_menu(mainMenu.menuItems) }}
    </ul>
{% endif %}