;;
description = "Icons Block"

[viewBag]
==
{##}
{% if data.section_iconsblock_block_first %}<div class="main main-raised">{% endif %}
    <div class="container">
        <div class="section text-center">
            {% if data.section_iconsblock_intro_show %}
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">{{ data.section_iconsblock_headline }}</h2>
                    {% if data.section_iconsblock_paragraph and data.section_iconsblock_paragraph is not empty %}
                    <h5 class="description">{{ data.section_iconsblock_paragraph|raw }}</h5>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="features">
                <div class="row">
                    {% for fields in data.section_iconsblock_repeaters %}
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon {{ fields.section_iconsblock_iconcolor }}">
                                <i class="material-icons">{{ fields.section_iconsblock_iconcode }}</i>
                            </div>
                            <h4 class="info-title">{{ fields.section_iconsblock_iconheadline }}</h4>
                            <p>{{ fields.section_iconsblock_iconparagraph|raw }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% if data.section_iconsblock_block_last %}</div>{% endif %}