;;
description = "PageHeader Block"

[viewBag]
==
{##}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ data.section_pageheaderblock_image|media }}')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h1 class="title">{{ data.section_pageheaderblock_headline }}</h1>
            {% if data.section_pageheaderblock_paragraph and data.section_pageheaderblock_paragraph is not empty %}
            <h4>{{ data.section_pageheaderblock_paragraph|raw }}</h4>
            {% endif %}
            {% if data.section_pageheaderblock_button_show %}
            <br>
            {# CMSPage Link #}
            {% if data.section_pageheaderblock_link_type == 'cmspage' and data.section_pageheaderblock_link_cmslink is not empty %}
            <a href="{{ data.section_pageheaderblock_link_cmslink|page }}" class="btn btn-danger btn-raised btn-lg">{{ data.section_pageheaderblock_button_text }}</a>
            {% endif %}
            {# StaticPage Link #}
            {% if data.section_pageheaderblock_link_type == 'staticpage' and data.section_pageheaderblock_link_staticlink is not empty %}
            <a href="{{ data.section_pageheaderblock_link_staticlink|staticPage }}" class="btn btn-danger btn-raised btn-lg">{{ data.section_pageheaderblock_button_text }}</a>
            {% endif %}
            {# Extern Link #}
            {% if data.section_pageheaderblock_link_type == 'externlink' and data.section_pageheaderblock_link_externlink is not empty %}
            <a href="{{ data.section_pageheaderblock_link_externlink }}" class="btn btn-danger btn-raised btn-lg" {% if data.section_pageheaderblock_link_externlink_target %}target="_blank"{% endif %}>{{ data.section_pageheaderblock_button_text }}</a>
            {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>