;;
description = "Team Block"

[viewBag]
==
{##}
{% if data.section_iconsblock_block_first %}<div class="main main-raised">{% endif %}
    <div{% if data.section_teamblock_scrollid_switch %} id="{{ data.section_teamblock_scrollid }}" {% endif %}class="container">
        <div class="section text-center">
            <h2 class="title">{{ data.section_teamblock_headline }}</h2>
            <div class="team">
                <div class="row">
                    {% for fields in data.section_teamblock_repeaters %}
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="{{ fields.section_teamblock_member_image|media }}" alt="{{ fields.section_teamblock_member_imagealt }}" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">{{ fields.section_teamblock_member_name }}
                                <br>
                                <small class="card-description text-muted">{{ fields.section_teamblock_member_job }}</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">{{ fields.section_teamblock_member_description|raw }}</p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% if data.section_iconsblock_block_last %}</div>{% endif %}